body{
  background-color: rgb(216, 215, 191);
}

.main{
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  /* border: solid 3px red; */
  position:sticky;
}

.text h1{
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  margin-bottom: 0px;
}

.text p{
  font-size: 30px;
  font-style: italic;
}

.name{
  /* border: solid 3px red; */
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.name p{
  font-size: 25px;
  font-style: italic;
}

.deer{
  display: none;
}

.bird{
  display: none;
}

.squirrel{
  display: none;
}

.lynx{
  display: none;
}

.fox{
  display: none;
}

.grouse{
  display: none;
}

.hedgehog{
  display: none;
}